<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.amlogic.tvservice"
	android:sharedUserId="android.uid.system">
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<application android:process="com.amlogic.tvservice" android:label="TVService">
		<service android:name=".TVService" android:process="com.amlogic.tvservice">
			<intent-filter>
				<action android:name="com.amlogic.tvservice.TVService"/>
			</intent-filter>
		</service>
		<provider android:name="com.amlogic.tvdataprovider.TVDataProvider"
			android:authorities="com.amlogic.tv.tvdataprovider"
			android:process="com.amlogic.tvservice"/>
	</application>
</manifest>
