<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.amlogic.tvservice"
        android:versionCode="1"
        android:versionName="8f279b337d529ee1687631ddda1e55306c2cfd0f-00c269673afa25f9eb262af09f94518f603ffaf8" 
	android:sharedUserId="android.uid.system">
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<application android:process="com.amlogic.tvservice" android:label="TVService">
        
         <receiver android:name=".TVServiceReceiver"> 
             <intent-filter>
                 <action android:name="android.intent.action.BOOT_COMPLETED"/>
             </intent-filter>
             <intent-filter>
                 <action android:name="com.amlogic.tvservice.booking_wakeup"/>
             </intent-filter>
         </receiver>
		<service android:name=".TVService" android:process="com.amlogic.tvservice">
			<intent-filter>
				<action android:name="com.amlogic.tvservice.TVService"/>
			</intent-filter>
		</service>
		<provider android:name="com.amlogic.tvdataprovider.TVDataProvider"
			android:authorities="com.amlogic.tv.tvdataprovider"
			android:process="com.amlogic.tvservice"
                        android:exported="true"/>
	</application>
</manifest>
